body {
    margin: 0;
    padding: 0;
   background-color: rgb(40, 41, 41);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding-right: 40px;
    margin-top: 40px;
    border-bottom: solid rgb(0, 0, 0) 5px;
    border-top:solid  red 5px;
    font-size: 170%;
    box-shadow: 10px 10px 50px rgb(216, 159, 130);
}

nav button {
    margin: 7px;
    padding: 5px;
    color: rgb(237, 238, 221);
    background-color: black;
    
}

.img-container {
    display: flex;
    padding: 25px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height:fit-content;
    overflow: hidden;
    border: solid rgb(145, 210, 190) 1px  ; 
    animation: fadeIn 1s ease forwards;
    
}

.img-display {
    width: 200px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    

    
}

.img-display img {
    width: 100%;
    height: auto;
    
}

.img-display:hover {
    transform: translateY(-20px) ;
    transition: transform 1s ease;
    box-shadow: 5px 5px 40px rgb(149, 98, 149);
}

.movie-data{
    display:flex;
    
    flex-direction: column;
    color: white;
    transition: 2s ease;
}

.img-display:hover .movie-data{
    opacity: 1;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.8); 
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(0.8); 
    }
}
