@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap"rel="stylesheet");

body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgb(40, 41, 41);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100vh;
}
h1 {
  text-align: center;
  font-family: "Neonderthaw", cursive;
  font-weight: 1400;
  font-style: italic;
}

.text1 {
    text-shadow: 0 0 5px rgb(232, 227, 232),
                0 0 10px rgb(165, 41, 165),
                0 0 140px rgb(152, 19, 152),
                0 0 170px rgb(152, 19, 152);
  
                margin-top: 20px;
                font-size: 600%;
              
  }
  
.head-nav {
    
  display: flex;
  align-items: center;
  justify-content: center;
 
}

nav button {
  margin: 7px;
  padding: 5px;
  color: rgb(237, 238, 221);
  background-color: black;
}

input {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  border: rgb(216, 216, 123) solid 8px;
  border-radius: 8px;
  box-shadow: 8px 8px 130px red;

  animation: fadeIn 2s ease forwards;
}

#animeCardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  border: rgb(216, 216, 123) solid 8px;
  border-radius: 8px;
  box-shadow: 8px 8px 130px red;

  animation: fadeIn 2s ease forwards;
}

.card-body {
  width: 200px;

  text-align: center;
  margin: 10px;
  border-radius: 20px;
}

.card-body img {
  width: 100%;
}

p {
  color: yellow;
  font-size: medium;
}

.card-body:hover {
  transform: translateY(-20px);
  transition: transform 1s ease;
  box-shadow: 5px 5px 40px rgb(255, 237, 171);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(0.8);
  }
}
